# Systemdateien
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporäre Dateien
*.tmp
*.bak
*.log

# Impressum und Datenschutzerklärung - diese Dateien können sensible Informationen enthalten
impressum.html

# config
config.php

# Uploads - alles ignorieren außer .htaccess und index.html
uploads/*
!uploads/.htaccess
!uploads/index.html

# db - alles ignorieren außer .htaccess und index.html
db/*
!db/.htaccess
!db/index.html